.currentTask {
    display: flex;
    align-items: flex-end;
    margin-top: 90px;
}

.task {
    display: flex;
}

.task p {
    font-size: 24px;
    font-weight: bold;
    color: #003164;
}

.checkBox {
    width: 48px;
    height: 48px;
    border: 2px #003164 solid;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 16px;
}

.time {
    font-size: 170px;
    font-weight: bold;
    color: #FF4384;
}